.card-home {
  height: 100%;
  display: flex;
  color: white;
  font-family: "font", sans-serif;
  max-width: 100vw;
}

.card-home .first {
  width: 66.42vw;
  height: 100vh;
  object-fit: cover;
  object-position: left center;

  filter: brightness(0.9);
}
.card-home .second {
  height: 100vh;
  width: 33.53vw;
}

/* ------SEZIONE INFO------- */
.info {
  background-color: rgba(48, 21, 91, 0.404);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  height: 100vh;
  right: 0;
  width: 33.53vw;
}

.info h1 {
  font-size: 50px;
}
.info h3 {
  font-size: 50px;
}
.info .data {
  font-family: "data", "sans-serif";
  font-size: 40px;
}

.info h3 span {
  background-color: #100a2e;
  margin-right: 30px;
  padding: 3px 20px;
  font-size: 15px;
  border: solid 1px #f4f4f4;
  font-family: "base", sans-serif;
  color: #f4f4f4;
}

/* RATING E LEVEL */

.bar-wrapper h2 {
  font-family: "rating", sans-serif;
  letter-spacing: 4px;
  font-size: 45px;
}
.bar-wrapper span {
  font-size: 30px;
  letter-spacing: 0px;
  font-family: "rating", sans-serif;
}
.hidden-gem-bar-wrapper {
  position: relative;
  width: 100%;
  max-width: 370px;
  height: 32px;
  background-color: #444; /* sfondo */
  border-radius: 4px;
  overflow: hidden;
  margin-top: 4px;
}

.hidden-gem-bar-fill {
  height: 100%;
  background-color: green;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 0.3s ease;
}

.hidden-gem-bar-red {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: red;
}

.rating-skulls .skull {
  font-size: 28px;
  margin-right: 3px;
  transition: filter 0.3s ease, opacity 0.3s ease;
}

/* Teschio pieno (illuminato) */
.rating-skulls .skull.full {
  filter: drop-shadow(0 0 6px green) brightness(1.5);
}

/* Teschio vuoto (spento) */
.rating-skulls .skull.empty {
  opacity: 0.3;
}

/* ------SEZIONE TRACK INDEX-------*/

.track-index {
  bottom: 25px;
  width: 65vw;
  font-family: "font", sans-serif;
}
.track-index h4 {
  font-size: 30px;
}
.track-index h4 span {
  font-size: 15px;
  background-color: #100a2e;
  padding: 2px 15px;
  border: solid 1px #f4f4f4;
  margin-right: 15px;
}
.track-index h5 {
  font-size: 22px;
}

.animation-index {
  bottom: 0;
  width: 65vw;
  font-family: "font", sans-serif;
}
.song-animation {
  display: flex;
  gap: 3px;
  height: 30px;
}

.song-animation .bar {
  width: 30px;
  background: #862d7d;
  animation: bounce 0.8s infinite alternate;
}

/* Creiamo animazioni sfalsate per ogni barra */
.song-animation .bar:nth-child(1) {
  animation-delay: 0s;
}
.song-animation .bar:nth-child(2) {
  animation-delay: 0.2s;
}
.song-animation .bar:nth-child(3) {
  animation-delay: 0.4s;
}
.song-animation .bar:nth-child(4) {
  animation-delay: 0.6s;
}
.song-animation .bar:nth-child(5) {
  animation-delay: 0.8s;
}

@keyframes bounce {
  from {
    height: 5px;
    opacity: 0.7;
  }
  to {
    height: 30px;
    opacity: 1;
  }
}

/* ------SEZIONE PLAYLIST------- */
.playlist-home {
  margin-top: 100px;
}
