/* Generali */

.database {
  height: 90vh;
}

/* search-bars */
.database .database-search-bars .form-control {
  width: 50%;
  border: 1px solid black;
  border-radius: 1px;
}

/* Colonna Generi */

.database .genres-bar {
  border-right: 1px solid black;
}
.database .genres-bar h5 {
  display: inline;
}

.database .genre-btn {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  height: 50px;
}

.database .navigation .nav-link {
  cursor: pointer;
  color: #0d6efd;
  text-decoration: underline;
}

/* Colonna Database ALBUM */

.database .albums-container {
  display: flex;
  flex-wrap: wrap;
  max-height: 80vh;

  overflow-y: auto;
}
.database .album-box {
  border: 1px solid #ddd;
  padding: 0.4rem;
  margin: 0.5rem;
  width: 210px;
  height: 90px;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.database .album-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.album-box .delete-btn {
  position: absolute;
  top: 5px;
  left: 5px;
  background: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 14px;
  line-height: 1;
  display: none; /* nascosta di default */
  cursor: pointer;
  padding: 0;
}

.album-box:hover .delete-btn {
  display: block; /* appare solo all'hover */
}

.album-box .edit-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: orange;
  color: white;
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 14px;
  line-height: 1;
  display: none;
  cursor: pointer;
  padding: 0;
}

.album-box:hover .edit-btn {
  display: block !important;
}

/*---------------- MODALI -----------------*/
/* Modal per l'editing degli album */
.modal-edit-album {
  position: fixed;
  top: 40%;
  right: 0%;

  background: white;
  border: 2px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 15px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
/* Modal per la visualizzazione delle tracce */
.modal-songs {
  font-size: 0.9em;
  position: fixed;
  top: 17%;
  right: 0%;

  max-height: 80vh;
  overflow-y: auto;
  background: white;
  border: 2px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 15px;
  z-index: 9999;
  border-radius: 8px;
}
