.side-navbar {
  position: fixed;
  top: 50%;
  right: 0;

  background-color: #afafaa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  border: 1px solid #000000;
  padding: 30px 10px;
}

.side-navbar .nav-item {
  font-size: 12px;
  margin: 5px 0;
  cursor: pointer;
}
