.playlist-column-center,
.playlist-column-right,
.playlist-column-left {
  height: 90vh;
  overflow-y: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid black;
}

.track-modal {
  position: fixed;
  top: 80px;
  right: 26%; /* affianco alla colonna destra */
  width: 500px;
  max-height: 80vh;
  overflow-y: auto;
  background: white;
  border: 2px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 15px;
  z-index: 9999;
  border-radius: 8px;
}
